<a href="https://colab.research.google.com/github/andrevictorm/ESTUDO/blob/main/Andr%C3%A9_Victor_Python_while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1) Escrever um programa para exibir os números de 1 até 50 na tela.

In [ ]:
i=1
n=50
while i <=50:
  print(i)
  i=i+1

In [ ]:
2) Escrever um programa para exibir os números de 25 a 85 na tela.

In [ ]:
i=25
n=85
while i <=85:
  print(i)
  i=i+1

In [ ]:
3) Escrever um programa para exibir os números de 1 a 100 em ordem inversa.

In [ ]:
i=100
n=1
while i >= 1:
  print(i)
  i=i-1

In [ ]:
4) Fazer um programa para encontrar todos os números pares entre 1 e 100.

In [ ]:
i=1
n=100
while i <= 100:
  if i%2 == 0:
    print(i)
  i=i+1

In [ ]:
5) Fazer um programa para encontrar todos os múltiplos de 3 de 1 a 50.

In [ ]:
i=1
n=100
while i <= 50:
  if i%3 == 0:
    print(i)
  i=i+1

In [ ]:
6) Ler um valor inteiro (aceitar somente valores entre 1 e 10) e escrever a tabuada de 1 a 10 do valor lido.

In [ ]:
i=0
n=int(input("digite um nº: "))
while n < 0 and n >= 10:
  n=int(input("digite um nº: "))

while i <=10:
  print(n*i)
  i=i+1

In [ ]:
7) Faça um programa que leia 5 idades e mostre na tela a média das idades lidas.

In [ ]:
i=0
m=0
while i < 5:
  n=float(input("digite a idade: "))
  while n <= 0:
    n=float(input("digite a idade: "))
  m=n+m
  i=i+1
med=m/5
print(med)

digite a idade: 50
digite a idade: 30
digite a idade: 40
digite a idade: 20
digite a idade: 46
37.2

In [ ]:
8) Ler 10 números e informar na tela quantos números pares foram digitados e quantos números ímpares foram digitados.

In [ ]:
i=0
p=0
im=0
while i < 10:
  n=float(input("digite um nº: "))
  if n%2==0:
    p=p+1
  else:
    im=im+1
  while n <= 0:
    n=float(input("digite um nº certo: "))
    if n%2==0:
      p=p+1
    else:
      im=im+1
  i=i+1
print(p)
print(im)

In [ ]:
9) Faça um programa que leia 3 notas (de 0 a 10) e informe na tela a média das notas lidas.

In [ ]:
i=0
m=0
while i < 3:
  n=float(input("digite a nota: "))
  while  n > 10:
    n=float(input("digite a nota certa: "))
  m=n+m
  i=i+1
med=m/3
print(med)

digite a nota: 11
digite a nota: 10
digite a nota: 7
digite a nota: 8
8.333333333333334

In [ ]:
i=0
while i < 10:
  n=float(input("digite um nº negativo: "))
  while n >= 0:
    n=float(input("digite um nº negativo: "))
  i=i+1

In [ ]:
10) Foi feita uma pesquisa entre os habitantes de uma região. 
Foram coletados os dados de idade,sexo (M/F) e salário. 
Faça um programa que calcule e mostre:

a) A média dos salários do grupo;
b) A maior e a menor idade do grupo;
c) A quantidade de mulheres na região;
d) A idade e o sexo da pessoa que possui o menor salário;

Finalize a entrada de dados ao ser digitada uma idade negativa.

In [ ]:
i=0
m=0
id=0
mj=0
#Idade

while id >= 0:
  id=int(input("digite a idade: "))
  if id >= 0 :
    menor = id
    maior = id
  else:
    if n > maior:
      maior = id
    if n < menor:
      menor = id
  
#Sexo
  s=str(input("digite 'F' ou 'M' para genero: "))
  while s != "F" and s != "M":
    s=(input("digite 'F' ou 'M' para genero: "))
  if s == "F":
    mj=mj+1

#Salario
  n=float(input("digite o salario: "))
  m=n+m
  i=i+1

med=m/i
print(med)
print("A maior idade é: ",maior, " e a menor é: ", menor)
print(mj)

digite a idade: -1
digite 'F' ou 'M' para genero: F
digite o salario: 123
123.0
A maior idade é:  -1  e a menor é:  -1
1